<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

RewriteEngine on
RewriteCond %{HTTP_HOST} ^divinecoaching.in [NC,OR]
RewriteCond %{HTTP_HOST} ^www.divinecoaching.in [NC]
RewriteRule ^(.*)$ https://divine-education.com/index.html [L,R=301,NC] 

